
.vagrant/machines/VM1/virtualbox/action_provision
.vagrant/machines/VM1/virtualbox/action_set_name
.vagrant/machines/VM1/virtualbox/box_meta
.vagrant/machines/VM1/virtualbox/creator_uid
.vagrant/machines/VM1/virtualbox/id
.vagrant/machines/VM1/virtualbox/index_uuid
.vagrant/machines/VM1/virtualbox/private_key
.vagrant/machines/VM1/virtualbox/synced_folders
.vagrant/machines/VM1/virtualbox/vagrant_cwd
.vagrant/machines/VM2/virtualbox/action_provision
.vagrant/machines/VM2/virtualbox/action_set_name
.vagrant/machines/VM2/virtualbox/box_meta
.vagrant/machines/VM2/virtualbox/creator_uid
.vagrant/machines/VM2/virtualbox/id
.vagrant/machines/VM2/virtualbox/index_uuid
.vagrant/machines/VM2/virtualbox/private_key
.vagrant/machines/VM2/virtualbox/synced_folders
.vagrant/machines/VM2/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
ubuntu-bionic-18.04-cloudimg-console.log
ubuntu-bionic-18.04-cloudimg-console.log
